mixin storeForm(store = {})
  form(class="card" action=`/add/${store._id || ''}` method="POST" enctype="multipart/form-data")
    label(for="name") Name
    input(id="name" name="name" type="text" value=store.name)
    label(for="description") Description
    textarea(id="description" name="description")= store.description
    //- image upload
    label(for="photo") Photo
      input(id="photo" type="file" name="photo" accept="image/gif, image/png, image/jpeg")
      if store.photo
        img(src=`/uploads/${store.photo}`, alt=store.name width="200")
    //- address, lng and lat
    label(for="address") Address
    input(type="text" id="address" name="location[address]" placeholder="Enter a location" value=(store.location && store.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)
    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)

    - const choices = ["Wifi", "Open Late", "Family", "Vegetarian", "Licensed"]
    - const tags = store.tags || []

    ul.tags
      each choice in choices
        .tag.tag__choice
          input(id=choice type="checkbox" value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice)= choice
    input(class="button" type="submit" value="Save →")
